body{
    background-color: rgb(248, 248, 248);
    margin: 0px;
}

header{
    background-image:linear-gradient(to right, blueviolet,blue) ;
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

h1{
    color: rgb(255, 255, 255);
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 700px;
}

h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;  
    transition: all 0.3s 0s;  
}

a:hover{
    color: rgb(255, 255, 0);
}

p{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;    
}   

header button{
    border: none;
    cursor: pointer;
    background-color: rgb(255, 255, 0);
    color: black;
    padding: 15px 50px;
    border-radius: 10px;
    transition: 0.3s 0s;
}

header button:hover{
    background-color: rgb(192, 194, 49);
}

.ab-cours{
    background-color: white;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.cours{
    width: 500px;
    border: 1px;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 20px;
}

img{
    height: 300px;
    width: 500px;
    border-radius: 20px;
}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ad-ntg{
    padding: 100px 0px;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.ad-ntg section{
    background-color: white;
    height: 200px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px -7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.8s 0s;
}

.ad-ntg section div{
    text-align: center;
}

.ad-ntg section:hover{
    transform: translateY(-10px);
}

.program{
    background-color: white;
    padding: 100px 0px;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.program section{
    padding: 20px;
    background-color: white;
    height: 200px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.otz{
    padding: 100px 0px;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.otz section{
    background-color: white;
    height: 150px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.otz div{
    margin: 20px;
}

.price{
    background-color: white;
    padding: 100px 0px;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.price section{
    background-color: white;
    height: 300px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.price h1{
    text-align: center;
}

.price div{
    text-align: center;
}

.price button{
    border: none;
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 15px 50px;
    border-radius: 10px;
    transition: 0.3s 0s;
}

.price button:hover{
    background-color: blueviolet;
}

.regist{
    background-color: white;
    padding: 40px 0px;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.regist h1{
    text-align: center;
}

input{
    width: 400px;
    height: 24px;
}

select{
    width: 405px;
    height: 30px;
}

.regist button{
    border: none;
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 15px 50px;
    border-radius: 5px;
    transition: 0.3s 0s;
}

.regist button:hover{
    background-color: blueviolet;
}

.prava{
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:426px) {
    .ab-cours{
        display: flex;
        flex-wrap: wrap;
    }

    img{
        height: 190px;
        width: 290px;
        border-radius: 20px;
    }

    a{
        font-size: 59%;
    }

    .program section{
        height: 150px;
        width: 350px;
    }

    input, select{
        width: 90%;
    }

    p{
        padding: 15px;
    }
}






















