body{
    background-color: rgb(235, 235, 235);
    margin: 0px;
}

header{
    background-image:linear-gradient(to right, blueviolet,blue) ;
    height: 450px;
}















































